# python
__pycache__/
# python virtual environment
venv/

# project specifics
log/
gen_data*/
models/

# swap files for vi editor
*.swo
*.swp

# IntelliJ IDEA users
.idea/

# OSX
.DS_Store

# data paths
segan_data_in/

# c3dl-specific (navercorp)
run.sh
segan.json
train.sh
user_dev_workspace/
