audioread==2.1.5
decorator==4.1.2
joblib==0.11
librosa==0.5.1
llvmlite==0.21.0
numba==0.36.1
olefile==0.44
pkg-resources==0.0.0
PyYAML==3.12
resampy==0.2.0
scikit-learn==0.19.1
scipy==1.0.0
numpy==1.14.5
Pillow==5.1.0
six==1.11.0
torch==0.4.0
torchvision==0.2.1
protobuf==3.6.0
tensorboardX==1.2
